---
http_interactions:
- request:
    method: get
    uri: https://api.tiles.mapbox.com/v4/directions/mapbox.driving/-122.42,37.78;-77.03,38.91.json?alternatives=false&geometry=geojson&instructions=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a45c1-3142625159"
    body:
      encoding: UTF-8
      string: '{"origin":{"type":"Feature","geometry":{"type":"Point","coordinates":[-122.420013,37.780094]},"properties":{"name":"McAllister
        Street"}},"destination":{"type":"Feature","geometry":{"type":"Point","coordinates":[-77.030067,38.91008]},"properties":{"name":"Logan
        Circle Northwest"}},"waypoints":[],"routes":[{"distance":4524005,"duration":163463,"summary":"I
        80 - I 80;I 90","geometry":{"type":"LineString","coordinates":[[-122.420017,37.780096],[-122.419823,37.780122],[-122.419002,37.780221],[-122.418739,37.780254],[-122.418604,37.780272],[-122.418482,37.780286],[-122.418058,37.780341],[-122.417121,37.780474],[-122.416961,37.780493],[-122.416859,37.780507],[-122.41597,37.780627],[-122.415322,37.780711],[-122.414484,37.780824],[-122.413675,37.780932],[-122.41358,37.780943],[-122.413148,37.780994],[-122.412635,37.780575],[-122.412528,37.7804[...]
