---
http_interactions:
- request:
    method: get
    uri: http://api.tiles.mapbox.com/v4/directions/mapbox.driving/-122.42,37.78;-77.03,38.91.json?alternatives=false&geometry=polyline&instructions=text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27457-603303785"
    body:
      encoding: UTF-8
      string: '{"origin":{"type":"Feature","geometry":{"type":"Point","coordinates":[-122.420013,37.780094]},"properties":{"name":"McAllister
        Street"}},"destination":{"type":"Feature","geometry":{"type":"Point","coordinates":[-77.030067,38.91008]},"properties":{"name":"Logan
        Circle Northwest"}},"waypoints":[],"routes":[{"distance":4524005,"duration":163463,"summary":"I
        80 - I 80;I 90","geometry":"_g|`gA`r|nhFs@cKeEir@aAmOc@mG[sFmBoYiGqy@e@_I[kEoFqv@gDog@aFks@wEqq@U}DeB_ZdYa_@lDuEeZka@mQmVw|@_mAe}@omAeRiWoNqReNeRuFwHk[ac@afAayAkh@ks@kVq\\{x@ahAcUc[_CaDie@qo@_EqFeF_H{Ua\\h\\sc@jVe\\|Yw`@~Yw`@jU}ZzZ_b@lZia@lVi\\~Xq_@zf@_q@`d@im@kQaVwRuWkQoV~BkOjAgWLwe@_Ckf@yR}f@_Zua@q]ac@yxh@ywk@eRsMcZo[mdBwiBkd@aj@yq@{x@u\\u]u]cb@u]gg@sU__@sN_VuJsP{IkQgbEstIqGkNqGgO_GaOwFkO{EcNoEaNqEcOyEsPwD{NkDwNcDyOgDiQgDuRaDgSqCiTaC{TqBqT}rCqa_@cEqk@qD{i@aEop@qCyg@qCoj@iMepCiMsnDoF[...]
